{% extends "layout.html" %}{% block head %}{% if idx %}
<script>
  $(function () {
    $("#card{{ idx }}")[0].scrollIntoView({
      behavior: "auto",
      block: "center",
      inline: "center",
    });
  });
</script>
{% endif %} {% endblock %} {% block main %}
<main class="cardgrid">
  {% for card in cards -%}
  <figure {% if card.faces|length>
    1 %}class="doublefaced" {% endif %}>
    <div class="cards">
      {% for face in card.faces -%}
      {% if card.alternatives > 0 %}<a class="card" href="{{ card.change_url }}">{% else %}<div class="card">{% endif %}
        <img id="card{{ card.idx }}" class="preview" loading="lazy" src="{{ face.img_preview }}" />
        <div class="popup">
          <img loading="lazy" src="{{ face.img_large }}" />
        </div>
      {% if card.alternatives > 0 %}</a>{% else %}</div>{% endif %}
      {% endfor -%}
    </div>
    {%- if card.alternatives > 0 %}
    <div class="alternatives">{{card.alternatives}}</div>
    {% endif -%}
    <figcaption>{{ card.name }}</figcaption>
  </figure>
  {% endfor -%}
</main>
{% endblock -%}
