{% extends "layout.html" %}{% block head %} {% if idx %}
<script>
  $(function () {
    $("#card{{ idx }}")[0].scrollIntoView({
      behavior: "auto",
      block: "center",
      inline: "center",
    });
  });
</script>
{% endif %} {% endblock %} {% block main %}
<main class="cardgrid">
  {% for card in cards -%}
  <figure {% if card.faces|length>
    1 %}class="doublefaced" {% endif %}>
    <div class="cards">
      {% for face in card.faces -%}
      <a class="card" href="{{ card.change_url }}">
        <img id="card{{ card.idx }}" class="preview" loading="lazy" src="{{ face.img_preview }}" />
        <div class="popup">
          <img loading="lazy" src="{{ face.img_large }}" />
        </div>
      </a>
      {% endfor -%}
    </div>
    <figcaption>{{ card.name }}{% if card.alternatives > 0 %} ({{ card.alternatives }} alternatives){% endif %}</figcaption>
  </figure>
  {% endfor -%}
</main>
{% endblock -%}
