{% extends "layout.html" %}

{% block head %}
<script>
	$(function() {
		$form = $('.deckupload')
		$form.on('drag dragstart dragend dragover dragenter dragleave drop', function(e) {
			e.preventDefault();
			e.stopPropagation();
		})
		.on('dragover dragenter', function() {
			$form.addClass('is-dragover');
		})
		.on('dragleave dragend drop', function() {
			$form.removeClass('is-dragover');
		})
		.on('drop', function(e) {
			var file = e.originalEvent.dataTransfer.files[0];
			var reader = new FileReader(file);
			reader.readAsText(file);
			reader.onload = function(e) {
				$("#decklist").text(reader.result)
				$form.submit()
    		}
		}).submit(function(e) {
			$form.addClass('waiting');
		});
	})
	$(function () {
		$("#decklist").height($("#decklist")[0].scrollHeight);
	});
</script>
{% endblock -%}

{% block main %}
<main>
	<form class="deckupload" method="post" enctype=multipart/form-data style="margin: auto; max-width: 800px;">
		{% if errors -%}
		<div class="alert">
			<strong>ERROR:</strong>
			<ul>
			{% for error in errors -%}
			<li>{{ error }}</li>
			{% endfor -%}
			</ul>
		</div>
		{% endif -%}
		{% if warnings -%}
		<div class="alert warning">
			<strong>WARNING:</strong>
			<ul>
			{% for warning in warnings -%}
			<li>{{ warning }}</li>
			{% endfor -%}
			</ul>
		</div>
		{% endif -%}
		<textarea id="decklist" name="decklist" placeholder="Paste, drag&drop or choose decklist">{{ decklist }}</textarea>
		<div style="display:flex; justify-content:space-between;">
			<input type="file" id="decklist_file" name="decklist_file" accept=".txt" onchange="form.submit()">
			<button>Submit</button>
		</div>
	</form>
</main>
{% endblock -%}

